[Unit]
Description=Schedule next boot to Linux Educacional on system power off
After=getty@tty1.service display-manager.service
Before=systemd-halt.service systemd-poweroff.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/sbin/grub-reboot %i

[Install]
WantedBy=halt.target poweroff.target
